.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: $secondary-text-color;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 75px;

  transition: 0.25s ease;

  &.start {
    background: rgba($ceil-128-background-color, 0.5);;
    ;
    font-size: 20px;
  
    &:hover {
      background: rgba($ceil-128-background-color, 0.8);;
    }
  }

  &.restart {
    background: rgba($ceil-64-background-color, 0.5);;
  
    &:hover {
      background: rgba($ceil-128-background-color, 0.8);;
    }
  }
}
