.field {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(4, $cell-width);
  grid-template-rows: repeat(4, $cell-height);
  gap: $cell-gap;

  &__cell {
    background: $field-cell-color;
    border-radius: 5px;
    font-weight: 400;
    color: $secondary-text-color;
    text-align: center;
    line-height: $cell-height;
    user-select: none;

    &--2 {
      background: $field-cell-color;
    }
  
    &--4 {
      background: $ceil-4-background-color;
    }
  
    &--8 {
      background: $ceil-8-background-color;
    }
  
    &--16 {
      background: $ceil-16-background-color;
    }
  
    &--32 {
      background: $ceil-32-background-color;
    }
  
    &--64 {
      background: $ceil-64-background-color;
    }
  
    &--128 {
      background: $ceil-128-background-color;
    }
  
    &--256 {
      background: $ceil-256-background-color;
    }
  
    &--512 {
      background: $ceil-512-background-color;
    }
  
    &--1024 {
      background: $ceil-1024-background-color;
    }
  
    &--2048 {
      background: $ceil-2048-background-color;
    }
  }
}
