.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 24px;
    box-sizing: border-box;
  }

  &__title {
    color: #446583;
    width: 75px;
    height: 60px;
    font-size: 34px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 10px 0 0;
    transform: translate(-4px);
  }

  &__field {
    background: $field-background-color;
    border: 1px solid #192435;
    border-spacing: 10px;
    border-radius: 5px;
    color: $main-text-color;
  }

  &__info {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba($info-background-color, 0.6);
    border: 1px solid #192435;
    width: 75px;
    height: 60px;
    border-radius: 5px;
    color: #446583;
    box-sizing: border-box;
    font-size: 18px;
    margin: 0 10px 0 0;
    transition: 0.25s ease;


    &:hover {
      color: $secondary-text-color;
      border: 1px solid $secondary-text-color;
    }
  }
  
  &__controls {
    display: flex;
  }
}
