.message {
  width: 100%;

  &__content {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    background: rgba($ceil-128-background-color, 0.5);;
    color: $secondary-text-color;
    padding: 24px;
    text-align: center;
    border-radius: 5px;

    &--start {
      cursor: pointer;

      &:hover {
        background: rgba($ceil-128-background-color, 0.8);;
      }
    }

    &--win {
      background: $ceil-1024-background-color;
      color: $secondary-text-color;
    }

    &--keyboard {
      background: rgba($field-background-color, 0.8);;
    }

    &.hidden {
      display: none;
    }
  }
}
