$font-family: "PT Sans Caption", sans-serif;
$normal-font-weight: 400;
$bold-font-weight: 900;
$main-text-color: #fff;
$secondary-text-color: #b6b3c9;
$main-background-color: #09090A;
$info-background-color: #09090A;
$field-background-color: #0B141C;
$field-cell-color: #192435;
$ceil-2-background-color: #192435 ;
$ceil-4-background-color: #1B2A41;
$ceil-8-background-color: #253856;
$ceil-16-background-color: #324A5F;
$ceil-32-background-color: #446583;
$ceil-64-background-color: #5674AC;
$ceil-128-background-color: #6F57CC;
$ceil-256-background-color: #8F3DCE;
$ceil-512-background-color: #7C19CA;
$ceil-1024-background-color: #CA19AE;
$ceil-2048-background-color: #00c0e2;
$content-mobile-min-width: 320px;
$tablet-min-width: 640px;
$cell-width: 75px;
$cell-height: 75px;
$cell-gap: 10px;
